*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-SemiBold.woff2) format("woff2"),
        url(../fonts/Inter-SemiBold.woff) format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.woff2) format("woff2"),
        url(../fonts/Inter-Regular.woff) format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-SemiBoldItalic.woff2) format("woff2"),
        url(../fonts/Inter-SemiBoldItalic.woff) format("woff");
    font-display: swap;
    font-style: italic;
    font-weight: 600;
}

:root {
    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;

    --background-body: #E1D4C9;
    --background-container: #665F55;
    --background-backdrop: rgba(64, 63, 61, 0.80);

    --border-light: #C1B6AD;
    --border-dark: #665F55;
}

body {
    font-family: Inter, "sans-serif";
    font-weight: 600;

    padding: 0 40px;
    background-color: var(--background-body);
}

.btn-cup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 200px;
    height: 40px;

    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    padding: 30px 78px;
    border: none;
    border-radius: 100px;

    cursor: pointer;
    transform: scaleY(10px);
    background-color: var(--background-body);
    transition: justify-content .3s ease-in;
}

.btn-cup::after {
    content: url(../image/coffee-cup.svg);
    transform: scale(0);
    font-size: 16px;
    content-visibility: hidden;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: transform .3s ease-in-out;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.title {
    margin: 0;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-light);
}

.title span {
    font-style: italic;
    color: var(--text-accent);
}

/*//////////////// Header /////////////*/

.header .btn-cup::after {
    content-visibility: visible;
}

.header {
    margin-bottom: 20px;
}

.header__link {
    position: relative;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.header__btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    padding: 0;
    border: none;

    cursor: pointer;
    background-color: var(--background-body);
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    transform: scale(0);
    background-color: var(--border-dark);
    transition: transform .5s ease-in-out;
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header__list {
    display: flex;
    gap: 40px;

    padding: 0;
    margin: 0;
}

.header__item {
    cursor: pointer;
}

.header__item a {
    color: currentColor;
    text-decoration: none;
}

.header__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    transform: scale(0);
    background-color: var(--border-dark);
    transition: transform .5s ease-in-out;
}

.header__burger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 44px;
    height: 44px;

    border: 1px solid var(--border-dark);
    border-radius: 50%;

    cursor: pointer;
}

.header__line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--border-dark);
}

/*//////////// HERO ////////////////*/

.hero {
    margin-bottom: 100px;
}

.hero__block {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    gap: 40px;
}

.hero__container {
    max-width: 1360px;
    min-height: 644px;

    border-radius: 40px;
    padding: 100px;
    color: var(--text-light);

    background-image: url(../image/hero.png);
    background-position: right;
}

.hero__descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.hero__btn {
    text-decoration: none;
    color: var(--text-dark);
}

.hero__btn::before {
    content: "Menu";
    transition: all .3s ease-in-out;
}

.hero__btn::after {
    transition: all .5s ease-in-out;
}


/*//////////////////////// favorite //////////////////////*/

.favorite {
    margin-bottom: 103px;
}

.favorite__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    line-height: 125%;

    color: var(--text-dark);

}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;

    width: min-content;
    color: var(--text-dark);
}

.slider__img {
    margin-bottom: 4px;
}

.slider__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;

    margin: 0;
    text-align: center;
}

.slider__descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.slider__price {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

.slider__btn {
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.slider__btn svg {
    transition: fill .4s ease-in-out;
}

.slider__btn svg path {
    transition: stroke .4s ease-in-out;
}

.slider__lines {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    left: 45%;
}

.slider__line {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--border-light);
}

.slider__line:first-child {
    background-color: var(--border-dark);
}

/*//////////////////// about /////////////////*/

.about {
    margin-bottom: 100px;
}

.about__descr {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 125%;
    color: var(--text-dark);
}

.about__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about__left {
    display: grid;
    grid-template-rows: 1fr;
    gap: 40px;
}


.about__right {
    display: grid;
    grid-template-rows: 1fr;
    gap: 40px;
}

.about__images {
    max-width: 660px;
    overflow: hidden;
    border-radius: 20px;
}

.about__img-1,
.about__img-2,
.about__img-3,
.about__img-4 {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.about__img-1,
.about__img-4 {
    height: 590px;
}

.about__img-2,
.about__img-3 {
    height: 430px;
}

/*////////////////// Download ///////////////////*/

.download {
    margin-bottom: 96px;
}

.download__container {
    display: flex;
    justify-content: space-between;
}

.download__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 672px;
    gap: 40px;
}

.download__title {
    font-size: 60px;
    line-height: 125%;
    color: var(--text-dark);
}

.download__descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.download__socials {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.download__item {
    width: 200px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    transition: color .4s ease-in-out,
        background-color .4s ease-in-out;
}

.download__item svg path {
    transition: fill .4s ease-in-out;
}

.download__link {
    display: flex;
    gap: 8px;

    padding: 12px 20px;
    text-decoration: none;
    color: currentColor;
}

.download__text-1 {
    display: block;
    font-size: 10px;
    line-height: 140%;
}

.download__text-2 {
    font-size: 16px;
    line-height: 150%;
}


.download__right img {
    width: 100%;
}

/*/////////////////// footer /////////////////////////////////*/

.footer {
    padding-bottom: 40px;
}

.footer__container {
    display: flex;
    justify-content: start;
    padding: 100px;
    border-radius: 40px;
    background-color: var(--background-container);
}

.footer__left {
    flex-basis: 615px;
    margin-right: 15px;
}

.footer__title {
    max-width: 600px;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 125%;
}

.footer__title span {
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.footer__socials {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.footer__link svg {
    transition: fill .4s ease-in-out;
}


.footer__link svg path {
    transition: stroke .4s ease-in-out;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-light);
}

.footer__subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 125%;
}

.footer__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-light);
}

.footer__link-address,
.footer__link-tel,
.footer__link-time {
    position: relative;
    display: flex;
    width: max-content;
    text-decoration: none;
    color: currentColor;
}

.footer__link-time {
    pointer-events: none;
}

.footer__link-address::after,
.footer__link-tel::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: var(--text-light);
    transition: transform .4s ease-in-out;
}

.footer__link-address::before {
    padding-right: 8px;
    text-align: center;
    content: url(../image/footer-address.svg);
}

.footer__link-tel::before {
    padding-right: 8px;
    text-align: center;
    content: url(../image/footer-tel.svg);
}

.footer__link-time::before {
    padding-right: 8px;
    text-align: center;
    content: url(../image/footer-time.svg);
}

@media (min-width: 1200px) {
    .header__item:hover::after {
        transform: scale(1);
    }

    .header__link:hover::after {
        transform: scale(1);
    }

    .hero__btn:hover::after {
        content-visibility: visible;
        transform: scale(1);
    }

    .hero__btn:hover::before {
        transform: translateX(-5px);
    }

    .about__img-1:hover,
    .about__img-2:hover,
    .about__img-3:hover,
    .about__img-4:hover {
        transform: scale(1);
    }

    .slider__btn:hover svg {
        fill: var(--background-container);
    }

    .slider__btn:hover svg path {
        stroke: var(--text-light);
    }

    .download__item:hover {
        background-color: var(--background-container);
        color: var(--text-light);
    }

    .download__item:hover svg path {
        fill: var(--text-light);
    }

    .footer__link:hover svg {
        fill: var(--background-body);
    }

    .footer__link:hover svg path {
        stroke: var(--text-dark);
    }

    .footer__link-address:hover::after,
    .footer__link-tel:hover::after,
    .footer__link-time:hover::after {
        transform: scale(1);
    }

}

@media (840px <=width <=1060px) {

    .footer__container {
        flex-direction: column;
        padding: 60px;
    }

    .footer__left {
        flex-basis: 0;
        margin: 0;
        margin-bottom: 100px;
    }
}


@media (300px <=width <=840px) {

    .btn-cup::after {
        transform: scale(1);
        content-visibility: visible;
    }

    .header__burger {
        display: flex;
    }

    .header__list {
        flex-direction: column;
        display: none;
        transform: rotateX(20px)
    }

    .header__btn {
        display: none;
    }

    .hero__container {
        padding: 100px 60px;
        background-size: cover;
        background-position: top;
    }

    .about__block {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about__left,
    .about__right {
        gap: 0;
    }


    .about__img-3,
    .about__img-2 {
        display: none;
    }

    .download__container {
        flex-direction: column;
    }

    .download__left {
        margin-bottom: 100px;
    }

    .download__right {
        max-width: 630px;
    }

    .footer__container {
        flex-direction: column;
        padding: 100px 60px;
    }

    .footer__left {
        flex-basis: 0;
        margin: 0;
        margin-bottom: 100px;
    }
}